.booking-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  grid-gap: 24px;
  align-items: center;
  margin-bottom: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
#myVideo {
  width: 100%;
}

//turnos part


