.network-container {
  width: 90%;
  margin: 0 auto;
}

.network-content {
  width: 60%;
  margin: 0 auto;
  h2 {
    text-align: center;
    font-size: 18px;
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .network-card {
    display: inline-block;
  }
}


@media(max-width: 575px) {
  .network-content {
    width: 80%;
    margin: 0 auto;
    h2 {
      text-align: center;
      font-size: 18px;
    }
  }
}
