.red-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
.card {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  a {
    color: black;
  }
}
