<% if user_signed_in? %>
<div class="article-show-navbar">
  <%= link_to 'Crear Noticia', new_article_path, class: 'btn btn-primary btn-block btn-lg'  %>
</div>
<% else %>
<% end %>
<div class="container pb-5">
  <h2 class="article-title text-center">Novedades</h2>
  <div class="red-container py-5">
    <% @articles.each do |article| %>
    <%= render 'cards/article', article: article %>
    <% end %>
  </div>
  <%= paginate @articles %>
</div>

