<div class="create-container">
  <h2 class="new-title">Editar Dieta</h2>
  <%= render 'form' %>
  <div class="p-5">
    <%= link_to 'Volver', :back, class: ' btn btn-danger btn-block'  %>
  </div>
</div>
