<div class="booking-container">
  <div>
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/c_scale,w_650/v1592312831/curso_secretaria_ejecutiva_z7vjco.jpg">
  </div>
  <div>
    <%= link_to 'Turno Online', turnos_path, class: 'btn btn-lg btn-block btn-services'  %><br>
    <%= link_to  'https://www.qsisweb.com/index.php/q-34s08234626o77610-81128-327e81726731f1563-7017m198a96587l963.html', class: 'btn btn-lg btn-block btn-services', target: "_blank" do %>
    <i class="fab fa-whatsapp-square"></i> WhatsApp
    <% end %><br>
    <%= link_to 'Llamar', turnos_path, class: 'btn btn-lg btn-block btn-services'  %><br>
    <%= link_to 'Horarios', turnos_path, class: 'btn btn-lg btn-block btn-services'  %>
  </div>
</div>
