<div class="booking-container">
  <div>
    <video autoplay muted loop id="myVideo">
      <source src="https://res.cloudinary.com/dokddymx6/video/upload/v1591895408/Office-7269_cwmnyy.mp4" type="video/mp4">
    </video>
  </div>
  <div>
    <%= link_to 'Turno Online', '#', class: 'btn btn-lg btn-block btn-services'  %><br>
    <%= link_to 'Llamar', '#', class: 'btn btn-lg btn-block btn-services'  %><br>
    <%= link_to 'Horarios', '#', class: 'btn btn-lg btn-block btn-services'  %>
  </div>
</div>
