<%= link_to article_path(article) do %>
<div class="article-card">
  <img src="<%= article.photo %>" alt="">
  <h2><%= article.title %></h2>
  <p><%= article.subtitle.truncate(80) %></p>

</div>
<% end %>
