<div class="container d-md-flex justify-content-between">
  <div class="w-100 mr-md-3">
    <%= link_to programs_path do %>
    <div class="card-diet " style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,h_1257,w_1089/v1601934972/photo-1482049016688-2d3e1b311543_ssgefl.jpg)">
      Dietas
    </div>
    <% end %>
  </div>
  <div class="w-100">
    <%= link_to posts_path do %>
    <div class="card-diet" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_1296/v1601934898/photo-1445384763658-0400939829cd_rrum1t.jpg)">
      Testimonios
    </div>
    <% end %>
  </div>
</div>
