<div class="main-footer text-center">
  <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591896454/ICONO-fondo-blancoRecurso-8_xiwioe.png" alt="">
  <div>
    <% if user_signed_in? %>
    <h2><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete%></h2>
    <% else %>
    <h2>25 de Mayo 710 | 4920436 | 4303750 | <%= link_to 'Iniciar sesión', new_user_session_path, style: 'color: white;'  %></h2>
    <% end %>
    <p>Made by - <strong><%= link_to 'GV', 'http://www.guillermo-varela.com', target: '_blank'  %></strong> </p>
  </div>
</div>
