<div class="main-footer text-center">
<img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591896454/ICONO-fondo-blancoRecurso-8_xiwioe.png" alt="">
<div>
  <h2>25 de Mayo 710 | 4920436 | 4303750</h2>
  <p>Made by - <strong><%= link_to 'GV', 'http://www.guillermo-varela.com', target: '_blank'  %></strong> </p>
</div>
</div>
