<div class="network-container">
  <div class="network-content">
    <h2>Como equipo, nos apoyamos en una propuesta en común: tratar al paciente con su problema de salud, siempre actualizados, con el apoyo y rigor de la ciencia.</h2>
  </div>
  <div class="scrolling-wrapper">
    <div class="network-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591889718/baria-equipo-1024x768_htamcb.jpg" alt="">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591889494/disert-1024x411_ymcnrn.jpg" alt="">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591889659/29512221_1045414492264745_2390637453396803408_n_eydxit.jpg" alt="">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591889718/baria-equipo-1024x768_htamcb.jpg" alt="">
    </div>
  </div>

</div>
<%= link_to 'Ver mas', '#', class: 'btn btn-primary'  %>

</div>
