<div class="services-wrapper">
  <div class="services-container">
    <div class="services-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816588/cuide-al-paciente-asesor-hombre-mientras-que-llena-formulario-solicitud-escritorio-hospital_1150-12966_zeemo5.jpg" alt="">
      <div class="services-content main" id="plus" >
        <div class="guillo" >
          <h3>Consultas sobre la Cirugía</h3>
          <p>Luego de un primer encuentro con el Cirujano, el paciente realiza un chequeo general con cada área del equipo médico.</p>
        </div>
        <div class="none services-secondary" id="show">
          <h3>Circuito del paciente</h3>
          <p>Pre operatorio, Cirugía y Post  operatorioTodas las dudas que tiene un paciente sobre el tratamiento y las metodologías quirúrgicas.</p>
          <div class="p-1 pb-3">
            <%= link_to 'Ver mas', '#', class: 'btn btn-block btn-services'  %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="services-container">
    <div class="services-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816612/plan-dieta-menu-o-programa-cinta-metrica-agua-pesas-comida-dietetica-frutas-frescas-blanco_1429-5171_qo1x1l.jpg" alt="">
      <div class="services-content">
        <h3>Nutrición</h3>
        <p>En la primera consulta se recolectan los datos antropométricos específicos necesarios para evaluar y determinar el estado nutricional y grado de obecidad o sobrepeso</p>
      </div>
    </div>
  </div>
  <div class="services-container">
    <div class="services-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816638/vista-superior-psicologa-escribiendo-diagnostico_1098-2621_pyn4ot.jpg" alt="">
      <div class="services-content">
        <h3>Psicología</h3>
        <p>El Área de Psicología ofrece diferentes grupos de terapia que ayudan a mitigar dudas, obtener apoyo y reconocer el problema de la obesidad.</p>
      </div>
    </div>
  </div>
  <div class="services-container">
    <div class="services-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816588/cuide-al-paciente-asesor-hombre-mientras-que-llena-formulario-solicitud-escritorio-hospital_1150-12966_zeemo5.jpg" alt="">
      <div class="services-content main">
        <h3>Consultas sobre la Cirugía</h3>
        <p>Luego de un primer encuentro con el Cirujano, el paciente realiza un chequeo general con cada área del equipo médico.</p>
      </div>
    </div>
  </div>
  <div class="services-container">
    <div class="services-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816612/plan-dieta-menu-o-programa-cinta-metrica-agua-pesas-comida-dietetica-frutas-frescas-blanco_1429-5171_qo1x1l.jpg" alt="">
      <div class="services-content">
        <h3>Nutrición</h3>
        <p>En la primera consulta se recolectan los datos antropométricos específicos necesarios para evaluar y determinar el estado nutricional y grado de obecidad o sobrepeso</p>
      </div>
    </div>
  </div>
  <div class="services-container">
    <div class="services-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816638/vista-superior-psicologa-escribiendo-diagnostico_1098-2621_pyn4ot.jpg" alt="">
      <div class="services-content">
        <h3>Psicología</h3>
        <p>El Área de Psicología ofrece diferentes grupos de terapia que ayudan a mitigar dudas, obtener apoyo y reconocer el problema de la obesidad.</p>
      </div>
    </div>
  </div>
</div>

<script>
  const showElement = () => {

   const button = document.querySelector('#show');
   button.classList.toggle("show");

   const buttonNo = document.querySelector('.guillo');
   buttonNo.classList.toggle("none")
 }


 const juan = document.getElementById('plus')
 juan.addEventListener('mouseenter', (event) => {
  showElement();
})

 const juancito = document.getElementById('plus')
 juancito.addEventListener('mouseleave', (event) => {
  showElement();
})

</script>

<style>
  .none {
    display: none;
  }

  .show {
    display: block;
  }


</style>

<br><br><br><br><br><br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="services-wrapper">
  <div class="new-card">
    <div class="new-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816588/cuide-al-paciente-asesor-hombre-mientras-que-llena-formulario-solicitud-escritorio-hospital_1150-12966_zeemo5.jpg" alt="">
    </div>
    <div class="new-content">
      <h3>Circuito del paciente</h3>
      <p>Pre operatorio, Cirugía y Post  operatorioTodas las dudas que tiene un paciente sobre el tratamiento y las metodologías quirúrgicas.</p>
    </div>
  </div>
  <div class="new-card">
    <div class="new-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816612/plan-dieta-menu-o-programa-cinta-metrica-agua-pesas-comida-dietetica-frutas-frescas-blanco_1429-5171_qo1x1l.jpg" alt="">
    </div>
    <div class="new-content">
      <h3>Nutrición + Acondicionamiento Físico</h3>
      <p>Encontrá recetas y rutinas de entrenamiento para lograr y mantener un estilo de vida saludable.</p>
    </div>
  </div>
  <div class="new-card">
    <div class="new-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816638/vista-superior-psicologa-escribiendo-diagnostico_1098-2621_pyn4ot.jpg" alt="">
    </div>
    <div class="new-content">
      <h3>Terapias grupales e invidivuales</h3>
      <p>Un espacio creado a aclarar dudas, buscar y dar apoyo reconociendo a través de distintos testimonios, la obesidad como una enfermedad que se puede controlar.</p>
    </div>
  </div>
  <div class="new-card">
    <div class="new-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816588/cuide-al-paciente-asesor-hombre-mientras-que-llena-formulario-solicitud-escritorio-hospital_1150-12966_zeemo5.jpg" alt="">
    </div>
    <div class="new-content">
      <h3>Circuito del paciente</h3>
      <p>Pre operatorio, Cirugía y Post  operatorioTodas las dudas que tiene un paciente sobre el tratamiento y las metodologías quirúrgicas.</p>
    </div>
  </div>
  <div class="new-card">
    <div class="new-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816612/plan-dieta-menu-o-programa-cinta-metrica-agua-pesas-comida-dietetica-frutas-frescas-blanco_1429-5171_qo1x1l.jpg" alt="">
    </div>
    <div class="new-content">
      <h3>Nutrición + Acondicionamiento Físico</h3>
      <p>Encontrá recetas y rutinas de entrenamiento para lograr y mantener un estilo de vida saludable.</p>
    </div>
  </div>
  <div class="new-card">
    <div class="new-image">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591816638/vista-superior-psicologa-escribiendo-diagnostico_1098-2621_pyn4ot.jpg" alt="">
    </div>
    <div class="new-content">
      <h3>Terapias grupales e invidivuales</h3>
      <p>Un espacio creado a aclarar dudas, buscar y dar apoyo reconociendo a través de distintos testimonios, la obesidad como una enfermedad que se puede controlar.</p>
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script>


</script>



