<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="social-card d-block w-80">
        <p>El Dr. Gastón Moisá Carreras es el mejor cirujano del mundo, es mi opinión !!! Me operó de una hernia de hiato en el año 2017 y, hasta hoy, 04 de marzo de 2020, no tuve ningún problema. Siempre daré las mejores referencias de este médico norteño por quien muchos: "Nos vestimos de orgullo prestado". Huelga decir, que el cirujano Moisá Carreras es impecable, no toma ningún caso a la ligera.En síntesis, la ética es su estandarte, la capacitación permanente su lema y no poner en riesgo la vida de sus pacientes, es su noble filosofía de vida!!!Felicitaciones de todo corazón !!!</p>
        <div class="d-flex align-items-center social-card-content">
          <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591883506/lil-bernax-comenta-en-facebook_p5g6jx.jpg" alt="">
          <div>
            <h2>Li Bernal Ax</h2>
            <h3>Facebook</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="social-card d-block w-80">
        <p>El doctor GASTON Moisa es un excelente cirujano , el mejor por lejos , y además una persona amorosa , responsable muy responsable y amado por sus pacientes. Le deseo lo mejor doctor hoy y siempre <i class="fas fa-heart" style="color: red;"></i></p>
        <div class="d-flex align-items-center social-card-content">
          <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591883517/la-adri_hwlqzu.jpg" alt="">
          <div>
            <h2>La Adri</h2>
            <h3>Facebook</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="social-card">
        <p>Hoy quiero contarles la historia que cambió mi vida.Empecé el tratamiento con 148 kg, me operé el 14/03/2018 con 138 y actualmente peso 79 kg.Todavía no me reconozco en este nuevo cuerpo, pero si conocí una nueva y hermosa forma de vida por la cual voy a seguir luchando día a día. ¿La clave? mucho entrenamiento y alimentación saludable.Por último, no quiero dejar pasar esta oportunidad para agradecer a Sol Nacul que me enseñó mucho y me a ayudó a amigarme con mi mente obesa, y a darle a mi cuerpo lo que realmente necesita. Quiero agradecer especialmente al Dr. Gastón Moisá porque con sus manos pudo abrir las puertas hacia este sueño que vivo y el cuál anhelé toda mi vida.</p>
        <div class="d-flex align-items-center social-card-content">
          <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591883530/91584281_2678896318904173_2128315346396905472_o_xxsius.jpg" alt="">
          <div>
            <h2>Maria Agustina Quiñones</h2>
            <h3>Facebook</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="social-card">
        <p style="font-size: 13px;">
          Muchos pensarán que operarse es el camino más fácil, pero no, fue difícil. Sin lugar a dudas fue la mejor decisión.
          • CIRUGÍA febrero 2018
          • Peso inicial: 115 kg.
          • Peso actual: 65 kg.
          Una vez que decidí comenzar con los tratamientos, estaba muy confundida por todos los trámites y estudios que debía hacerme, pero por suerte dentro de ICONO supieron guiarme y ayudarme para poder llegar a la operación. Hoy en día entendí la importancia que tiene cada uno de los profesionales antes, durante y después de la cirugía.
          No tuve grandes problemas de autoestima, pero sí relacionados a mi salud como el síndrome metabólico.
        Comencé a tomar conciencia del gran cambio que se estaba generando en mí y sentí que era el momento para cambiar mi rutina, cambiar mi forma de alimentarme, y saber que debía ponerme fuerte. Hoy en día siento que mi cuerpo se mueve de otra forma y que las cosas que antes no me salían hoy me salen y que me gusta lo que veo (y sigo viendo cambios), y sumando fuerza, músculos y energía.</p>
        <div class="d-flex align-items-center social-card-content">
          <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591883544/Celste-gonzalez_acjger.jpg" alt="">
          <div>
            <h2>Celesteigonzalez1</h2>
            <h3>Instagram</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
