<div class="team-navbar">
  <%= link_to surgery_path do  %>
  <div class="team-category-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_586/v1601938551/photo-1588623358844-fd118c056dfc_zbp2z7.jpg)">
    Cirugía Bariátrica
  </div>
  <% end %>
  <%= link_to doctor_path do  %>
  <div class="team-category-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dokddymx6/image/upload/v1591816638/vista-superior-psicologa-escribiendo-diagnostico_1098-2621_pyn4ot.jpg)">
    Psicología
  </div>
  <% end %>
  <%= link_to nutrition_path do  %>
  <div class="team-category-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_586/v1601938606/photo-1490645935967-10de6ba17061_yjiofc.jpg)">
    Nutrición
  </div>
  <% end %>
</div>
