<div class="topbar-container d-flex justify-content-between p-3">
  <div>
    <i class="fas fa-map-marker-alt"></i>
    <i class="fas fa-map-pin"></i>
  </div>
  <div>
    <%= link_to '#' do  %>
    <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to '#' do  %>
    <i class="fab fa-facebook-square"></i>
    <% end %>
    <%= link_to '#' do  %>
    <i class="fab fa-youtube"></i>
    <% end %>
  </div>
</div>
