<div id="horarios">
  <h2>Lunes a Viernes</h2>
  <p>09:00 a 19:00 hs.</p>
  <!-- <h2>DR. MOISA GASTON </h2>
  <ul>
    <li>Lunes a miércoles de 12 a 18hs</li>
    <li>Jueves de 9 a 13hs</li>
  </ul>
  <h2>DR. FINOLI PATRICIO</h2>
  <ul>
    <li>Lunes y miércoles de 12 a 18hs </li>
  </ul>
  <h2>DR. CARREÑO ROBERTO </h2>
  <ul>
    <li>Lunes a miércoles de 12 a 18hs</li>
    <li>Jueves de 9 a 13hs</li>
  </ul>
  <h2>DRA. LOBO SILVANA </h2>
  <ul>
    <li>Martes y jueves de 13.30 a 18hs</li>
  </ul>
  <h2>DRA. BIANCHINI ADRIANA</h2>
  <ul>
    <li>Martes de 9 a 11.30hs</li>
    <li>Jueves 14.20 a 18hs</li>
  </ul>
  <h2>LIC. SOLANO SILVINA</h2>
  <ul>
    <li>Lunes y miércoles de 9 a 17hs</li>
  </ul>
  <h2>LIC. NACUL SOLANA</h2>
  <ul>
    <li>Martes de 9 a 18hs</li>
    <li>Jueves de 9.30 a 17hs</li>
  </ul>
  <h2>DR. BRUNETI GUIDO</h2>
  <ul>
    <li>Lunes, miércoles y viernes de 14 a 18hs</li>
  </ul>
  <h2>DR. GARCIA TORO GUSTAVO </h2>
  <ul>
    <li>Lunes a miércoles de 10 a 13hs</li>
    <li>Jueves de 9 a 11.40hs</li>
  </ul>
  <h2>DR. PROLA GERMAN</h2>
  <ul>
    <li>Martes de 15 a 17hs</li>
    <li>Viernes de 11 a 13hs</li>
  </ul>
  <h2>DR. HERRERA BABOT GUILLERMO</h2>
  <ul>
    <li>Jueves de 15 a 18hs</li>
  </ul>
  <h2>DR. CANELADA CARLOS</h2>
  <ul>
    <li>Martes de 15 a 18hs</li>
  </ul>
  <h2>DR. MERINO </h2>
  <ul>
    <li>Lunes de 15 a 18hs</li>
  </ul>
  <h2>DR. GONZALEZ FABIAN</h2>
  <ul>
    <li>Jueves de 10.30 a 13hs</li>
  </ul>
  <h2>DRA. SARMIENTO MARÍA VICTORIA</h2>
  <ul>
    <li>Miércoles de 9 a 18hs</li>
  </ul>
  <h2>DRA. KAIRUZ SOLEDAD</h2>
  <ul>
    <li>Martes de 9 a 13hs</li>
  </ul>
  <h2>PROF. GOMEZ CARDOZO MIGUEL</h2>
  <ul>
    <li>Lunes y miércoles de 9 a 17hs</li>
  </ul>
  <h2>LIC. PAIZ PAOLA</h2>
  <ul>
    <li>Lunes a viernes</li>
  </ul>
  <h2>LIC. ELIAS LAURA</h2>
  <ul>
    <li>Lunes a viernes</li>
  </ul>
  <h2>LEIVA SILVIA </h2>
  <ul>
    <li>Lunes a viernes</li>
  </ul> -->
</div>
