<div class="doctor-card-container">
  <div class="doctor-card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
    <div>
      <h4>En grupo es más fácil</h4>
      <p>El momento que da más miedo es siempre justo antes de empezar.
      Vale la pena luchar por lo que vale la pena tener</p>
    </div>
  </div>
  <div class="doctor-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1571309815192-4837ea73e4fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
    <div>
      <h4>#Hambreemocional</h4>
      <p>Si te cuesta controlar lo que comés y no distinguís entre el hambre y la ansiedad, te esperamos.</p>
    </div>
  </div>
</div>
