<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="nutrition-carousel d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80)">
        <div class="nutrition-card">
          <div>
           <h5>Grupo de mantenimiento post quirúrgico</h5>
           <p>Si te cuesta mantener tu peso o la alimentación después de la cirugía, este grupo de apoyo es para vos.</p>
         </div>
       </div>
     </div>
   </div>
   <div class="carousel-item">
    <div class="nutrition-carousel d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1515187029135-18ee286d815b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
      <div class="nutrition-card">
        <div>
          <h5>Terapia grupal</h5>
          <p>Un espacio dedicado a aclarar dudas; buscar y dar apoyo; y reconocer a través de diferentes testimonios la obesidad como una enfermedad que se puede controlar.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="nutrition-carousel d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80)">
      <div class="nutrition-card">
        <div>
         <h5>¿Perdés el control con los alimentos?</h5>
         <p> ¿Qué origina estos episodios? ¿Cómo prevenirlos? Si te sentís identificado con el
         hambre emocional, podemos ayudarte. Desde el área de Psicología, brindamos grupos de apoyo para que podás resolver estos interrogantes y muchos más. ¡Te esperamos!</p>
       </div>
     </div>
   </div>
 </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>




