<div class="doctor-card-container">
  <div class="doctor-card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dokddymx6/image/upload/v1592152140/photo-1483721310020-03333e577078_jgppiy.jpg)">
    <div>
      <h4>Rutinas</h4>
      <p>Los profesionales del área de acondicionamiento físico se encargan de realizar rutinas de acuerdo a las necesidades de los pacientes.</p>
    </div>
  </div>
  <div class="doctor-card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dokddymx6/image/upload/v1592152171/photo-1518644961665-ed172691aaa1_bnooxb.jpg)">
    <div>
      <h4>Acompañamiento</h4>
      <p>Durante el tratamiento, la cirugía y el posoperatorio, los profesores se encargan de acompañar a los pacientes en el descenso y posterior mantenimiento de peso.</p>
    </div>
  </div>
</div>
