<div class="surgery-header d-md-flex align-items-center">
 <h2>Cirugía Bariátrica:</h2>
 <p>
  <span id="banner-typed-text"></span>
</p>
</div>
<div class="surgery-navbar">
  <h2>Circuito de la Cirugía Bariátrica</h2>
  <p>En la actualidad, es el tratamiento más efectivo para la Obesidad Severa, probado como método más seguro para el descenso de peso y su mantenimiento a largo plazo, favoreciendo también a la resolución de comorbilidades asociadas.</p>
  <div class="surgery-subcontent">
    <div>
      <div class="surgery-box d-flex justify-content-between" onclick="buttonOne()">
        <h2>Preoperatorio: Objetivos de la cirugía</h2>
        <h2 id="button-1">+</h2>
      </div>
      <div class="none surgery-box-content " id="content-1">
        <p>
          <ul>
            <li>Prevención y o  tratamiento de factores de riesgo asociados a la obesidad.
            </li>
            <li>Mejoramiento de calidad de vida a corto mediano y largo plazo.</li>
            <li>Aumento de  expectativa de vida.</li>
            <li>Las técnicas más empleadas son: Bypass Gástrico técnica Gold Standard, Manga Gástrica BAGUA Banda o Cinturón Gástrica.</li>
          </ul>
        </p>
      </div>
    </div>
    <div>
      <div class="surgery-box d-flex justify-content-between" onclick="buttonTwo()">
        <h2>Cirugías</h2>
        <h2 id="button-2">+</h2>
      </div>
      <div class="none surgery-box-content" id="content-2">
        <p>Las cirugías favorecen el descenso de peso por varios mecanismos, ya sea por técnica restrictiva (estomago más chico), malabsortiva (instestino mas corto), o mixtas (combinación de restricción y mala absorción). A su vez, los cambios anatómicos generan disminución y aumento de algunas hormonas relacionadas al apetito (ej. Grelina, leptina ,incretinas).</p>
      </div>
    </div>
    <div>
      <div class="surgery-box d-flex justify-content-between" onclick="buttonThree()">
        <h2>Requisitos básicos</h2>
        <h2 id="button-3">+</h2>
      </div>
      <div class="none surgery-box-content" id="content-3">
        <p>
          <ul>
            <li>Edad entre 18 y 65 años.</li>
            <li>Fracasos de tratamientos médicos previos.</li>
            <li>No ser adicto a drogas o alcohol</li>
            <li>No tener patologías psiquiátricas descompensadas.</li>
            <li>IMC mayor de 40 kg/m2.</li>
            <li>IMC mayor de 35 kg/m2 asociada a diabetes, hipertensión arterial, apnea del sueño, enfermedades articulares graves, dislipemias o hígado graso</li>
          </ul>
        </p>
      </div>
    </div>
    <div>
      <div class="surgery-box d-flex justify-content-between" onclick="buttonFour()">
        <h2>Circuito del paciente en ICONO</h2>
        <h2 id="button-4">+</h2>
      </div>
      <div class="none surgery-box-content" id="content-4">
        <p>
        Generalmente el  Médico Cirujano será el encargado de derivar a  todas las especialidades relacionadas al tratamiento del problema de salud y peso con el que se encuentre. Se realizará la solicitud de  estudios pre quirúrgicos:</p><br>
        <ul>
          <li>Video endoscopia Digestiva Alta.</li>
          <li>Ecografía Abdominal. </li>
          <li>Eco cardiograma Doppler.</li>
          <li>Espirometría de tórax.</li>
          <li>Laboratorio completo.</li>
          <li>Polisomnografía.</li>
        </ul><br>
        <p>Luego de asistir a cada especialidad, iniciando los tratamientos y estudios correspondientes por área, se evaluara la factibilidad y necesidad de realizarse o no Cirugía Bariátrica, lo cual determinara el tiempo y cantidad de consultas consecutivas.</p>
      </div>
    </div>
  </div>
</div>

<script>
  const buttonOne = () => {
    const plus = document.getElementById('button-1');
    if (plus.innerText === '+') {
     plus.innerText = '-'
   } else {
    plus.innerText = '+'
  };

  const showElement = document.getElementById('content-1');
  showElement.classList.toggle('show');
}

const buttonTwo = () => {

 const plus = document.getElementById('button-2');
 if (plus.innerText === '+') {
   plus.innerText = '-'
 } else {
  plus.innerText = '+'
};
const showElement = document.getElementById('content-2');
showElement.classList.toggle('show');
}

const buttonThree = () => {

 const plus = document.getElementById('button-3');
 if (plus.innerText === '+') {
   plus.innerText = '-'
 } else {
  plus.innerText = '+'
};
const showElement = document.getElementById('content-3');
console.log(showElement);
showElement.classList.toggle('show');
}

const buttonFour = () => {

 const plus = document.getElementById('button-4');
 if (plus.innerText === '+') {
   plus.innerText = '-'
 } else {
  plus.innerText = '+'
};
const showElement = document.getElementById('content-4');
console.log(showElement);
showElement.classList.toggle('show');
}
</script>
