<%= render 'shared/navbar' %>
<div class="about-container">
  <div class="about-title text-center">
    <h2>Quiénes Somos</h2>
    <p>Somos una Institución integrada por un equipo de profesionales dedicados al tratamiento de la obesidad y otros desórdenes alimentarios, a través del trabajo interdisdisciplinario, ofreciendo un trato integral, efectivo y seguro a nuestros pacientes. Con esto no sólo nos ocupamos de que puedas alcanzar un peso saludable sino también que sea mediante un tratamiento eficaz, duradero y seguro. <br> Nos especializamos en el manejo del sobrepeso patológico, la obesidad metabólica y Cirugía Bariátrica, acompañando al paciente, desde su llegada por primera vez a nuestra institución, llegando o no a la posibilidad de una intervención quirúrgica.</p>
  </div>
  <h2 class="second-title"> Nuestros Valores</h2>
  <div class="about-content">
    <div class="text-center p-3 about-subcontent">
      <h3>Respeto</h3>
      <p>Nuestro anhelo es brindar la mejor atención y tratar a pacientes y familiares con sensibilidad, empatía y dignidad.</p>
    </div>
    <div class="text-center p-3 about-subcontent">
      <h3>Integridad</h3>
      <p>Adherimos a los más altos principios de profesionalismo, ética y responsabilidad personal, dignos de la confianza que nuestros pacientes nos brindan.</p>
    </div>
    <div class="text-center p-3 about-subcontent">
      <h3>Trabajo en equipo</h3>
      <p>Valoramos los aportes de todos nuestros profesionales  y combinamos las habilidades de los integrantes para obtener un modo de atención y colaboración inter-equipo  sin igual.</p>
    </div>
    <div class="text-center p-3 about-subcontent">
      <h3>Excelencia</h3>
      <p>Ofrecemos los mejores resultados y un servicio de mayor calidad a través del esfuerzo dedicado de cada integrante del equipo.</p>
    </div>
  </div>
  <div class="about-mision">
    <h2 class="second-title"> Misión</h2>
    <div class="about-mision-card">
      <h2>Las necesidades del paciente son nuestra prioridad</h2>
      <p>Contamos con un equipo conformado por profesionales, nos apoyamos en una propuesta en común: tratar al paciente con su problema de salud, siempre actualizados, con el apoyo y rigor de la ciencia.</p>
    </div>
    <div class="about-mision-card">
      <h2>Instituto de Cirugía y Obesidad del Norte</h2>
      <p>Buscamos brindar la mejor atención a todos los pacientes, a través de la integración de práctica clínica, quirúrgica, educación (promoción y prevención) e investigación con el fin de contribuir a la salud y elevar su calidad de vida.</p>
    </div>
  </div>
  <div class="about-footer">
    <h2>Preguntas frecuentes de los pacientes</h2>
    <%= render 'shared/modals' %>
  </div>
</div>
<div class="pt-5 pb-5 p-5 text-center">
  <%= link_to 'Consultas', new_contact_path, class: 'btn btn-services btn-block'  %>
</div>
</div>

