<%= render 'shared/team_navbar' %>
<div class="doctor-container">
  <h2>Psicología y Psiquiatría</h2>
  <div class="doctor-content">
    <div>
      <p>El área de Psicología y Psiquiatría de ICONO ofrece diferentes grupos de terapia que ayudan a mitigar dudas, obtener apoyo y reconocer el problema de la obesidad.
      Si bien la terapia grupal no reemplaza a la terapia individual, ofrece un tratamiento común que permite intercambiar experiencias para encontrar soluciones.</p>
      <p>Desde <strong>ICONO</strong> te proponemos un espacio terapéutico de constitución colectiva, en donde pacientes y profesionales trabajan juntos y en equipo para comprender el proceso de crecimiento personal, entendiendo a la obesidad como una enfermedad que no tiene cura pero que sí puede ser tratada. </p>
    </div>
    <div>
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1592152436/photo-1558403194-611308249627_b3ffra.jpg" alt="">
    </div>
  </div>
  <div>
    <h3 class="font-weight-bold py-2 h6">Por qué necesito ver a un psicólogo antes de la cirugía de obesidad?</h3>
    <p>La cirugía requiere cambios en el de estilo de vida del paciente antes y después de la cirugía. Por lo que el paciente necesita trabajar con un equipo multidisciplinario, entre los que se encuentra el psicólogo, especializado en bariatría.</p>
    <h3 class="font-weight-bold py-2 h6">¿Cuál es el papel del psicólogo en el período preoperatorio?</h3>
    <p>El rol del psicólogo consiste en la evaluación del paciente para determinar si se encuentra en condiciones de iniciar el tratamiento quirúrgico de acuerdo con los criterios de selección establecidos por las guías nacionales e internacionales.<br>Determinar su capacidad para cumplir con los cambios en el estilo de vida que se necesitan antes y después de la cirugía, como así también brindar psicoeducación a fin de prepararlos para estos cambios.<br>La preparación prequirúrgica favorece el resultado posquirúrgico y ayuda a la adherencia al tratamiento.<br>El psicólogo deberá informar aspectos generales del tratamiento quirúrgico,  tanto al paciente como a su grupo familiar, facilitar la adaptación a un nuevo estilo de vida, imagen corporal, hábitos alimentarios. Indagar antecedentes médicos, historia de obesidad, historia de antecedentes psiquiátricos, motivación yexpectativas, hábitos de vida, problemática actual, proyectos para el futuro y estado emocional actual.</p>
    <h3 class="font-weight-bold py-2 h6">¿Para qué sirve la preparación psicológica para la cirugía?</h3>
    <p>Para facilitar la participación activa y la adherencia al tratamiento tanto en el pre como en el postoperatorio. expectativas y reflexiones realistas sobre los cambios que se producirán tras la cirugía bariátrica a corto, medio y largo plazo. </p>
    <h3 class="font-weight-bold py-2 h6">¿Necesito informar a mi familia sobre la cirugía?</h3>
    <p>El apoyo familiar es juega muy importante en el proceso terapéutico, por lo que es fundamental que forme parte del tratamiento y que funcione como red de apoyo.</p>
    <h3 class="font-weight-bold py-2 h6">¿Es posible la atención psicológica en el momento de la cirugía y durante la hospitalización?</h3>
    <p>La función del psicólogo durante el transoperatorio tiene como objetivo minimizar la angustia y ansiedad del paciente y su familia, favoreciendo la expresión de sentimientos, proporcionando un clima de confianza entre el paciente y el equipo de salud, facilitando la verbalización de fantasías derivadas del proceso quirúrgico.</p>
    <h3 class="font-weight-bold py-2 h6">¿Cuáles son las complicaciones psicológicas más frecuentes tras la cirugía?</h3>
    <p>Puede aparecer ansiedad o depresión ya que aún no se produjo la pérdida de peso deseada, impulsividad, irritabilidad, aislamiento social, trastornos en la imagen corporal, trastornos de la conducta alimentaria.</p>
    <h3 class="font-weight-bold py-2 h6">¿Necesito recibir asesoramiento psicológico después de la cirugía?</h3>
    <p>El tratamiento quirúrgico constituye solo el inicio de un largo proceso que implica cambios sustanciales tanto físicos como psicosociales para el paciente y su entorno. La necesidad de cambio en los hábitos de alimentación, en el patrón alimentario y en el autocuidado implica la necesidad de un paciente activo, comprometido con dicho cambio y capaz de hacerse cargo de las consecuencias de su conductas.  Por tal motivo, el seguimiento y el tratamiento posquirúrgico son de gran importancia. Es necesario ir reevaluando al paciente a fin de valorar su evolución y observar los cambios para favorecer la adaptación al nuevo estilo de vida y a  cambios en el patrón dietético, la forma corporal, la vida social, el manejo de su autoestima, autoimagen, asertividad. Y promover el desarrollo de estrategias para abordar problemas como la ansiedad y el estrés.<br></p>
    <h3 class="font-weight-bold py-2 h6">¿Es la obesidad un problema psicológico?</h3>
    <p>La obesidad es una enfermedad multicausal.<br>Cuando una persona padece una enfermedad crónica, no solo su cuerpo se ve afectado sino también el área mental,  social,  familiar y laboral. Por lo tanto, en el tratamiento es preciso considerar los trastornos psicológicos y/o psiquiátricos asociados a la obesidad.</p>
  </div>
</div>
<section id="fitness-main">
  <div class="team-container">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986299/claudia-3-1024x1024_efxbea.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Lic. Claudia Alonso</h2>
        <p>Psicóloga Bariátrica <br>Jefa de Servicio</p>
      </div>
    </div>
    <div>
      <%= render 'doctor_carousel' %>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986332/Cecilia-Ju_C3_A1rez-1024x1024_uqzgjy.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Dra. Cecilia Juárez</h2>
        <p>Medica Psiquiatra</p>
      </div>
    </div>
  </div>
</section>
<section id="fitness-main">
  <div class="team-container">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1611869049/59eee9b1-29fc-4fb2-b88b-9a2c6f6992b4_e0upkg.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Luciana Izquierdo Bravo</h2>
        <p>Psicóloga Clínica</p>
      </div>
    </div>
    <div>
      <%= render 'doctor_card' %>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986771/Vanesa-Salda_C3_B1o-1024x1024_qwpklz.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Vanesa Saldaño</h2>
        <p>Psicóloga</p>
      </div>
    </div>
  </div>
</section>
<section id="cirujia">
  <div class="team-container">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986840/Carolina-Velasco-Bulacio-1024x1024_caap5z.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Carolina Velasco Bulacio</h2>
        <p>Psicóloga</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986366/Anabel-Escribano-1024x1024_exfiia.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Anabelle Escribano</h2>
        <p>Psicóloga Clínica</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986381/natalia-gallardo-1024x1024_aq5owc.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Natalia Gallardo</h2>
        <p>Psicóloga Clínica</p>
      </div>
    </div>
  </div>
</section>
<section id="cirujia-200">
  <div class="team-container">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dye9yotct/image/upload/c_fill,g_face,h_800,w_617,x_49/v1611869073/1af787c9-93af-4a50-8f3f-a9897c14018d_lk6eo2.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Romina Stefany Ritorto Piera</h2>
        <p>Medica psiquiatra</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1611869072/0c2b279f-6c1a-418a-8224-e7e453d0fe30_xi59gm.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Merino María Lourdes</h2>
        <p>Psicóloga</p>
      </div>
    </div>
  </div>
</section>
<div class="p-5">
  <%= link_to 'Consultas', new_contact_path, class: 'btn btn-services btn-lg btn-block'  %>
</div>
