<div class="container">
  <div class="saco-banner">
    <img src="https://res.cloudinary.com/dmbom1kyl/image/upload/v1601850603/logo-2_vrhtvp.png" alt="">
  </div>
  <h2 class="article-title text-center pb-5">Beneficios de ser miembro de SACO</h2>
  <div class="saco-content">
    <p>Pasamos a formar parte de la comunidad de cirujanos de la obesidad mórbida más importante de este país.</p>
    <p>Ser miembro de una sociedad científica de carácter nacional con impronta internacional por ser parte de la Federación Internacional de Cirugía de la Obesidad ( IFSO ), único organismo que reúne a todas las sociedades científicas de cirugía bariátrica del mundo. <%= link_to "www.ifso.com", 'https://www.ifso.com', target: '_blank', class: "font-weight-bold" %> </p>
    <p>Recibir por tal motivo una de las mejores revistas científicas relacionadas con la cirugía bariátrica y metabólica, Journal of Obesity Surgery. (SOARD solo tenemos descuento no la ofrece mas IFSO)</p>
    <p>Tener acceso a los eventos científicos auspiciados por la SACO con un costo menor</p>
    <p>Tener posibilidad de participar de las distintas comisiones que trabajan dentro de la SACO para beneficio de todos sus miembros</p>
    <p>Estar informados permanentemente por las novedades científicas relacionadas con la cirugía bariátrica y metabólica</p>
    <p>Tener acceso a las guías nacionales o internacionales resultantes de los consensos mundiales para el tratamiento de la cirugía bariátrica y metabólica</p>
    <p>Tener la posibilidad de acceder a becas que se otorgaran al mejor trabajo científico o video evaluado por la CD.</p>
    <p>Tener la posibilidad de acceder a los centros de referencia nacionales e internacionales a través de la relación con la SACO</p>
    <p>Tener la posibilidad de llamar a un numero telefónico 0800-SACO para evacuar preguntas en situación urgente que todos podemos tener.</p>
    <p>Tener acceso al curso SACO on line con disertantes nacionales e internacionales, mediante una clave que le permitirán ver y escuchar la video-presentación de un tema determinado para cumplir con la parte teórica y asistir a la parte practica en alguno de los distintos centros de referencia que la SACO pondrá a su disposición</p>
    <p>Tener la posibilidad de ver videos on line sobre distintos temas relacionados</p>
    <p>Tener acceso a discusión, libros, artículos, opiniones de expertos, guías de tratamientos entre otros</p>
  </div>
  <h2>Busca nuestros medicos Asociados</h2>
  www.djfkdjfkdjfkdfj.com
  <div class="ifso-banner text-center">
    <img src="https://res.cloudinary.com/dmbom1kyl/image/upload/v1601851903/ifso-1_kh272i.png" alt="">
  </div>
  <p>La Federación Internacional de Cirugía de la Obesidad y Trastornos Metabólicos (IFSO) es una federación integrada por las asociaciones nacionales de los cirujanos bariátricos.<br><br>En la actualidad, hay 40 asociaciones miembro oficial de la IFSO. También hay miembros de los países que hasta ahora no han formado una asociación nacional.<br><br>IFSO ha sido principalmente una organización científica, que reúne a los cirujanos y otros profesionales de la salud, como enfermeras, dietistas, nutricionistas, psicólogos, internistas y anestesiólogos, que participan en el tratamiento de pacientes con obesidad mórbida, pero en los próximos años, IFSO mantener la voluntad y ampliar su rol en el reto de la cirugía bariátrica.<br><br>IFSO se está convirtiendo en una organización profesional, con el objetivo de apoyar a sus miembros en aspectos directamente relacionados con su profesión. Actividad principal IFSO es actualmente la organización del Congreso Mundial anual, que proporciona un foro para el intercambio de conocimientos en el tratamiento quirúrgico de los pacientes con obesidad mórbida, para presentar las nuevas técnicas, investigación y conceptos, y para cumplir con los expertos en la materia.<br><br>Una reunión internacional de cirugía de la obesidad se celebra anualmente en distintos países de todo el mundo bajo la dirección de Nicola Scopinaro. En la reunión de Estocolmo en 1995, la Federación Internacional para la Cirugía de la Obesidad (IFSO) fue formado. El primer Congreso Internacional de IFSO se celebró en Praga en 1996, seguido de Cancún en 1997, Brujas en 1998, Salzburgo en 1999 y Génova en 2000. El primer presidente fue Nicola Scopinaro de Italia, seguido por George Cowan de EE.UU. y Emanuel infierno de Austria.<br><br>IFSO también ha producido una serie de directrices, tales como los criterios de selección de pacientes, los requisitos mínimos para los cirujanos bariátricos, y declaraciones sobre la obesidad mórbida, el tratamiento y la innovación y se ha comprometido a la creación de un sistema de acreditación de los cirujanos y los centros de bariátrica todo el mundo. El objetivo principal de la IFSO es la optimización del tratamiento de los pacientes con obesidad severa.<br><br></p>
</div>





















