<div class="card">
  <%= link_to article_path(article) do %>
  <%= cl_image_tag article.photo.key, class:'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title font-weight-bold"><%= article.title %></h5>
    <p class="card-text"><small><%= article.subtitle.truncate(80) %></small></p>
  </div>
  <% end %>
</div>
