<div class="article-cards">
  <%= link_to post_path(post) do %>
  <% post.photos.first(1).each do |photo| %>
  <%= cl_image_tag photo.key %>
  <% end %>
  <div class="article-content">
    <div>
      <h2><%= post.title %></h2>
      <p><%= post.subtitle.truncate(80) %></p>
    </div>
  </div>
  <% end %>
</div>
