<div class="card">
  <%= link_to post_path(post) do %>
  <% post.photos.first(1).each do |photo| %>
  <%= cl_image_tag photo.key, class:'card-img-top' %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title font-weight-bold"><%= post.title %></h5>
    <p class="card-text"><small><%= post.subtitle.truncate(80) %></small></p>
  </div>
  <% end %>
</div>
