.main-banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
}

.social-banner {
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 height: 80vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

// .articles-banner {
//   background-size: cover;
//   background-position: center;
//   height: 40vh;
//   h2 {
//    margin: 0;
//    color: white;
//    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//    font-size: 32px;
//    font-weight: bold;
//  }
// }



@media(max-width: 970px) {

  .social-banner {
    background-attachment: initial;
  }

}

@media (max-width: 576px) {
  .social-banner {
    height: 90vh;
  }
}



@media (max-width: 369px) {
  .social-banner {
    height: 100vh;
  }
}
