.btn-services {
  background-color: #01897B;
  color: white;
  &:hover {
    text-decoration: none;
    color: lightgrey;
  }

}


.btn-team {
   background-color: white;
  color: $green;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: lightgrey;
  }
}
