.btn-services {
  background-color: #01897B;
  color: white;
  &:hover {
    text-decoration: none;
    color: lightgrey;
  }

}


.btn-team {
 background-color: white;
 color: $green;
 font-weight: bold;
 &:hover {
  text-decoration: none;
  color: lightgrey;
}
}


.btn-secondary {
  border: 2px solid $green;
  margin-left: 16px;
  background: transparent;
  &:hover {
    background-color: transparent;
    color: lightgrey;
    border: 2px solid $green;
  }

}


.btn-about {
  background-color: white;
  border: none;
  font-weight: bold;
  padding: 20px;
  width: 80%;
  text-align: left;
  margin-bottom: 24px;
  box-shadow: 0 0 5px lightgrey;
  font-size: 16px;

  &:focus {
    outline: none !important;

  }

  &:hover {
   box-shadow: 0 0 10px lightgrey;
   background-color: #F4F4F4;
 }
}


@media(max-width: 768px) {
  .btn-about {
    width: 100%;
    font-size: 13px;
  }
}
