.form-wrapper {
 width: 90%;
 margin: 0px auto;
 display: grid;
 grid-template-columns: 60% 40%;
 grid-gap: 16px;
 margin-bottom: 82px;
}

.forms {
  width: 90%;
  margin: 0px auto;
  padding: 40px;
  border-radius: 8px;
  background-color: white;
  h2 {
    text-align: center;
    color: $green;
    font-size: 16px;
    margin-bottom: 32px;
  }
  p {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-top: 24px;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.form-control {
  background-color: white;
  border-color: white;
  color: black;
  box-shadow: 0px 0px 4px lightgrey;
}


@media(max-width: 787px) {
  .form-wrapper {
   grid-template-columns:1fr;
   grid-gap: 24px;
   margin-bottom: 40px;
 }
}
