<div class="modal fade" id="eightModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Subir de peso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>El aumento de peso se produce cuando el paciente no asume hábitos saludables, como la adopción de una dieta menos calórica y más nutritiva y la práctica de ejercicios físicos regulares. La pérdida de peso más significativa ocurre en los primeros seis meses.<br><br>Sin embargo, durante el proceso de estabilización del peso, es común que el paciente recupere aproximadamente el 10% del peso final alcanzado.<br><br>De ahí la importancia de que el paciente siga con disciplina las recomendaciones médicas y mantenga un seguimiento con el equipo multidisciplinario en el postoperatorio.<br><br>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-services" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
