<div class="modal fade" id="sevenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Cirugía bariátrica y el papel del psiquiatra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>La cirugía bariátrica es un procedimiento médico que repercute en todo el cuerpo, incluida la mente. La pérdida de peso es buena y es deseable, pero es importante saber cómo perder peso de forma segura.<br><br>El psiquiatra  del equipo de cirugía bariátrica tiene la función de cuidar la seguridad psicológica de los pacientes, tanto pre como posoperatoriamente, ayudando a evitar complicaciones emocionales y conductuales que puedan comprometer el resultado de la cirugía.<br><br>Estas complicaciones van desde estados de ansiedad leve o depresivos, hasta situaciones más complejas como el desarrollo de dependencia química, desarrollo de trastornos alimentarios compulsivos o no, pasando por anorexia, bulimia, entre otras.<br><br>La cirugía bariátrica, debemos enfatizar, no es una causa de trastorno psiquiátrico, pero los pacientes con el potencial de desarrollar una enfermedad psiquiátrica pueden desencadenar sus patologías subyacentes en el curso del tratamiento quirúrgico.<br><br>Todo esto sin mencionar la posible frustración que puede presentarse en los casos en que la obesidad ha fracasado o recaído. No podemos dejar de destacar las reacciones psicológicas más diversas ante la pérdida de peso, que por regla general suelen ser positivas y saludables, pero que pueden tomar la forma de malestar psicológico.<br><br>Por ejemplo, algunos pacientes sobrevaloran la pérdida de peso y cuando pierden peso se sienten frustrados al darse cuenta de que muchos de sus problemas no tienen nada que ver con el sobrepeso y que siguen ahí, a pesar de los muchos kilos menos. En otros casos, los pacientes pueden volverse excesivamente eufóricos y "deslumbrados" con la pérdida de peso, hasta el punto de cometer algunas exageraciones en su vida personal.<br><br>Una buena investigación de los rasgos de personalidad y el repertorio psicológico asociado a la capacidad de introspección, de controlar los impulsos y de conocerse a sí mismos pueden ayudar a evitar problemas como estos en el postoperatorio.<br><br>En algunos pacientes, se requiere una breve psicoterapia de "preparación" para perder peso. Los problemas fisiológicos pueden surgir porque la obesidad influye precisamente en regiones relacionadas con la regulación de las emociones, el comportamiento y la capacidad de sentir placer y controlar los impulsos. Afortunadamente, en la mayoría de los casos, la pérdida de peso mejora estas variables, pero algunos pacientes pueden sufrir cambios de humor o incluso, si son genéticamente propensos, desarrollar abuso de alcohol u otras sustancias en el período postoperatorio.<br><br>El psiquiatra  es el mejor profesional para identificar perfiles de riesgo para todas estas condiciones y también para ayudar en caso de falla.También es el responsable de evaluar y orientar a aquellos pacientes que ya están lidiando con trastornos psiquiátricos y en el momento de ser evaluados para cirugía, actuando como interconsultor, entre el cirujano y el psiquiatra responsable de estos casos, orientándolos y discutiendo las mejores opciones terapéuticas para esos pacientes, además del mejor momento de la intervención.<br><br>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-services" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
