<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Terapia del lenguaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>1. ¿Qué hace el logopeda en el ámbito de la cirugía bariátrica?</h3>
        <p>La logopedia es una ciencia que se ocupa de prevenir, tratar y rehabilitar los cambios relacionados con la voz, el lenguaje, la audición, así como la mejor adaptación de las funciones de respiración, masticación, succión, deglución y habla (Sociedade Brasileira de Fonoaudiologia). Así, con pacientes candidatos a cirugía bariátrica o sometidos a ella, la logopedia contribuirá a una mejor adaptación nutricional de este paciente considerando su nueva condición anatómica (“su nuevo estómago”), esto a través de una reeducación masticatoria, observando las condiciones de los pacientes. estructuras necesarias para que esta masticación se produzca de manera eficiente.</p>
        <h3>2. ¿Es la logopedia en cirugía bariátrica lo mismo que en la terapia convencional?</h3>
        <p>No el logopeda que trabaja en cirugía bariátrica debe saber que el paciente que propone este tratamiento quirúrgico tiene un objetivo muy claro, que es prepararse para las propuestas de gastroplastia y su restauración. Por tanto, se debe informar al paciente de que no es necesario permanecer en logopedia.</p>
        <h3>3. ¿Cuál es el propósito de la logopedia en pacientes sometidos a cirugía bariátrica?</h3>
        <p>Lo más importante es facilitar la vuelta a la alimentación tras el procedimiento quirúrgico. En general, se orienta en cuanto a la calidad y cantidad de los alimentos con respecto al modo de ingesta de los alimentos en cada porción, favoreciendo así el equilibrio nutricional y la interacción social frecuente en los momentos de alimentación.</p>
        <h3>4. ¿Es importante que la terapia del habla comience antes de la cirugía?</h3>
        <p>Sí. Para que las personas dispongan de tiempo suficiente para realizar los cambios necesarios y guiados por el Logopeda, en cuanto a la forma de comer los alimentos, ya sean líquidos, pastosos o sólidos. De esta forma, tendrán la oportunidad de conocer todo el proceso y, principalmente, de formarse de la forma más adecuada, cómoda y segura para comer.</p>
        <h3>5. ¿Existe una relación entre masticar y músculos faciales?</h3>
        <p>Sí. Con el paso de los años, la musculatura del rostro, así como del cuerpo, también cambia, por lo que masticar de forma correcta y eficiente favorece el mantenimiento del tono muscular. La masticación también se considera un estímulo, que mantiene la salud de los músculos, articulaciones, glándulas y encías en la etapa adulta. Además, cabe destacar la importancia de utilizar alimentos sólidos para que el trabajo de los músculos masticatorios sea eficaz.</p>
        <h3>6. ¿Es normal vomitar después de la cirugía de reducción de estómago?</h3>
        <p>No. Estas sensaciones de "pellizco", que provocan momentos de incomodidad, pueden provocar la necesidad de vomitar. Vale la pena recordar que los vómitos no forman parte del desarrollo fisiológico normal, incluso después de la cirugía. Por ello, el logopeda orienta un cambio en los patrones masticatorios, teniendo así una adecuada manipulación de los alimentos en la cavidad bucal, evitando molestias, enredos y vómitos.</p>
        <h3>7. ¿Algunas personas operadas se quejan de “sensación de estar atrapadas en la comida”?</h3>
        <p> Sí. Las quejas de “entalo” son como si la comida pasara por un lugar estrecho y apretado, con sensación de obstrucción de la garganta o en la región de los senos nasales. Generalmente se atribuyen a la falta de conocimiento sobre cómo masticar correctamente y, en consecuencia, tragar, que son procesos fisiológicos naturales.</p>
        <h3>8. ¿Por qué es malo beber líquidos con las comidas?</h3>
        <p>Con la cirugía de reducción y, dependiendo de la técnica, se puede restringir la capacidad del estómago de 50mL a 100mL (esto en cirugías restrictivas en las que trabaja más el logopeda). Después del procedimiento hay un cambio tanto en la capacidad de recepción del nuevo estómago como en la elasticidad y velocidad del vaciado gástrico. La ingesta de alimentos sólidos al mismo tiempo que la ingesta de líquidos puede facilitar episodios de vómitos o provocar molestias asociadas con malestar con mayor frecuencia, además de restringir la nutrición que proporcionarían los alimentos.</p>
        <h3>9. ¿Podrá el paciente comer carne después de la cirugía?</h3>
        <p>Sí. Fisiológicamente, no existe ningún impedimento para comer carne, pero es importante señalar que la devolución de alimentos se produce de forma lenta y paulatina, respetando la jerarquía de consistencias de los alimentos, siguiendo las pautas durante el intercambio de dietas. Además, la porción de carne ingerida tras la cirugía es en menor cantidad (durante una comida), compatible con el tamaño del nuevo estómago, recordando que el paciente debe respetar siempre su tolerancia gástrica.</p>
        <h3>10 ¿Es importante comer todo tipo de alimentos? Y sólidos, ¿por qué no puedo procesarlos para evitar molestias?</h3>
        <p>La alimentación se considera uno de los factores más relevantes para el mantenimiento de la vida social y, en consecuencia, de la calidad de vida. Masticar existe no solo para facilitar la entrada de alimentos en el estómago. El procesamiento de los alimentos en la boca ayuda a estimular la síntesis de algunas hormonas esenciales para una saciedad más temprana. Esto ayuda a controlar el volumen ingerido. Otro dato importante es que algunos artículos científicos ya muestran que consumir alimentos procesados ​​puede tener un mayor riesgo nutricional a largo plazo, ya que cuando un alimento se licua se pueden perder muchas vitaminas y minerales.</p>
        <h3>11 ¿Cuántas veces es necesario masticar la comida para que quede bien triturada?</h3>
        <p>Cada alimento ofrece una resistencia diferente a los golpes de masticación, requiriendo más o menos fuerza de los músculos masticatorios, también se consideran las condiciones de las estructuras de masticación (dientes, labios, mejillas, lengua, paladar duro y blando - "techo de la boca"), y producción de saliva. Observando las estructuras de cada individuo, estos aspectos no serán los mismos para todos, por lo que se deconstruye la idea de estandarizar “cuántas veces” se debe masticar el alimento, dando la orientación de que se debe sentir el alimento desde el momento de su introducción y permanencia. en la boca hasta que se ingiera, lo que en la terapia del habla se denomina propiocepción intraoral.</p>
        <h3>12. ¿Todos los pacientes sometidos a cirugía bariátrica son disfágicos (dificultad para tragar)?</h3>
        <p>No, la dificultad para tragar no siempre está directamente relacionada con la función de tragar, sino con una masticación ineficaz. Una vez orientada adecuadamente la función masticatoria, sensibilizando, estimulando el entrenamiento en busca de su automatización, se alivian y en ocasiones eliminan síntomas comunes a la bariatría como arcadas, pirosis, taponamiento, enredo y vómitos.</p>
        <h3>13. ¿Existe alguna relación entre el trabajo de logopedia con pacientes bariátricos y el envejecimiento?</h3>
        <p>Sí. Al hablar de cirugía bariátrica, es fundamental mencionar que el paciente busca, con este tratamiento, mejorar su calidad de vida. En este contexto, uno de los factores fundamentales para un envejecimiento exitoso es el mantenimiento de las relaciones interpersonales, que necesariamente pasa por la alimentación, en busca de un tratamiento bariátrico exitoso. Teniendo en cuenta estos aspectos y su área de actividad, el logopeda tiene un papel fundamental en orientar al individuo en la ingesta de alimentos con técnicas específicas.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-services" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
