<div class="modal fade" id="sixModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Psicología.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>¿Por qué necesito ver a un psicólogo antes de la cirugía de obesidad?</h3>
        <p>La cirugía requiere cambios en la dieta, psicológicos, de comportamiento y de estilo de vida del paciente antes y después de la cirugía. Pasar por el  psicólogo  en el preoperatorio es tan importante como pasar por otras especialidades, ya que cada una de ellas es parte fundamental de la valoración global y de la preparación necesaria para el tratamiento.</p>
        <h3>¿Cuál es el papel de la psicología en el período preoperatorio?</h3>
        <p>Evaluación y preparación del paciente y su familia para la cirugía y de por vida después de la cirugía.</p>
        <h3>¿Para qué sirve la evaluación psicológica?</h3>
        <p>El objetivo principal de la evaluación psicológica es identificar y tratar cambios psicológicos y / o aspectos emocionales que puedan perjudicar el éxito del tratamiento, así como ayudar al paciente a comprender su forma de comer en la actualidad y a lo largo de los años más allá de la influencia de su estilo de vida sobre tu salud.</p>
        <h3>¿Cómo se produce la preparación psicológica para la cirugía?</h3>
        <p>En las consultas, además de orientación e información sobre cirugía bariátrica (técnica quirúrgica, riesgos y complicaciones, beneficios esperados, cambios producidos, consecuencias físicas, emocionales y sociales); Se trabajan con el paciente formas más saludables de lidiar con la obesidad y también con los aspectos emocionales involucrados en el proceso de cambio de hábitos.</p>
        <h3>¿Para qué sirve la preparación psicológica para la cirugía?</h3>
        <p>Para facilitar la participación activa y la adherencia al tratamiento (pre y postoperatorio), promover expectativas y reflexiones realistas sobre los cambios que se producirán tras la cirugía bariátrica a corto, medio y largo plazo.</p>
        <h3>¿Necesito informar a mi familia sobre la cirugía?</h3>
        <p>La familia juega un papel muy importante durante todo el tratamiento. Así, se recomienda comunicar a los familiares que más influyen en el proceso del paciente para que ellos también puedan recibir atención psicológica. En la asistencia psicológica que se ofrece a los pacientes y familiares, el psicólogo evalúa y trabaja: la estructura y funcionamiento de la familia, el apoyo brindado por los familiares, la satisfacción del paciente con este apoyo, la información y expectativas de los familiares. Puntos privilegiados, ya que los familiares pueden sabotear la cirugía y ofrecer una asistencia importante al paciente y al equipo de salud.</p>
        <h3>¿Es posible la atención psicológica en el momento de la cirugía y durante la hospitalización?</h3>
        <p>Sí. La actuación  del psicólogo  durante el transoperatorio tiene como objetivo minimizar la angustia y ansiedad del paciente y su familia, favoreciendo la expresión de sentimientos, ayudando a comprender la situación vivida, proporcionando un clima de confianza entre el paciente y el equipo de salud, facilitando la verbalización de fantasías derivadas del proceso quirúrgico.</p>
        <h3>¿Cuáles son las complicaciones psicológicas más frecuentes tras la cirugía?</h3>
        <p>En los primeros 15 días la ansiedad es pertinente, dado que aún no se ha producido la pérdida de peso deseada, la privación de alimentos se produce principalmente de azúcares que tienen un papel fisiológico importante en el estado de ánimo y existe una cierta limitación física. En los próximos 15 días quedan restos de privación de masticación, que juegan un papel importante en la descarga de la agresión (morder, hundir los dientes es una descarga motora importante para los seres con dientes). Dependiendo de cada uno, puede haber comportamientos explosivos y humor irritante o incluso cierto aislamiento social. Si la afección persiste, es necesario recibir tratamiento.</p>
        <h3>¿Necesito recibir asesoramiento psicológico después de la cirugía?</h3>
        <p>El seguimiento psicológico en el postoperatorio también forma parte de la asistencia multidisciplinar, que es fundamental para la promoción de la salud mental y la prevención de enfermedades. Así, las intervenciones  del psicólogo  contribuyen a la adaptación del paciente y su familia al nuevo estilo de vida ya cambios en el patrón dietético, la forma corporal, la vida social; en el manejo de demandas relacionadas con la pérdida de peso, como autoestima, autoimagen, asertividad; y promover el desarrollo de estrategias para abordar problemas como la ansiedad y el estrés relacionados o no con el tratamiento quirúrgico. Durante el seguimiento, los pacientes y los profesionales también pueden identificar la necesidad de otra atención de salud mental, como tratamiento psicológico y / o psiquiátrico.</p>
        <h3>¿Es la obesidad un problema psicológico?</h3>
        <p>No. La obesidad es una enfermedad que se acompaña de una serie de complicaciones de la salud global del individuo y otras enfermedades. Es común que el individuo presente hipertensión arterial, dolor de cuello, así como ansiedad, agitación psicológica e incluso síntomas depresivos. Comprender cómo los estados de ánimo afectan o se ven afectados por la obesidad es importante y el objetivo del seguimiento psicológico.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-services" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
