<div class="modal fade" id="nineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Embarazo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>La paciente es dada de alta para quedar embarazada sin riesgo a los 15 meses de postoperatorio. Durante este período, se recomienda la anticoncepción. Sin embargo, se deben evitar los anticonceptivos orales (píldoras). Habla con tu ginecólogo y analiza las alternativas para evitar el embarazo durante este período</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-services" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
