<div class="modal fade" id="second-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Clínica Médica.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>El paciente conozca que él no escoge el tipo de cirugía, es el médico cirujano quien determina la mejor opción.<br><br><strong>Circuito del paciente en ÍCONO</strong><br><br>El paciente ingresa al centro y realiza su primera consulta generalmente con el  Médico Cirujano quien será el encargado de derivar a  todas las especialidades relacionadas al tratamiento del problema de salud y peso con el que se encuentre.<br>Se realizará la solicitud de  estudios pre quirúrgicos<br>
          <ul>
            <li>Video endoscopia Digestiva Alta</li>
            <li>Ecografía Abdominal</li>
            <li>Eco cardiograma Doppler</li>
            <li>Espirometría de tórax</li>
            <li>Laboratorio completo</li>
            <li>Polisomnografía</li>
          </ul><br>Luego de asistir a cada especialidad, iniciando los tratamientos y estudios correspondientes por área, se evaluará la factibilidad y necesidad de realizarse o no <strong>Cirugía Bariátrica</strong>, lo cual determinara el tiempo y cantidad de consultas consecutivas.<br><br><strong>Consultas interdiciplinarias</strong><br><br>En caso de indicarse cirugía bariátrica, el  objetivo de toda la preparación  es minimizar el riesgo de complicaciones y acondicionar al paciente tanto física como psicológicamente  para una cirugía más segura y una pronta recuperación luego de la intervención.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-services" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
